In [8]:
import requests
from bs4 import BeautifulSoup
import time

In [9]:
import pandas as pd

In [10]:
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 \
    (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36'}


number=[]
name=[]
position=[]
age=[]
nation=[]
team=[]
value=[]


for i in range(1,3):
    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?page={i}"
    r = requests.get(url, headers = headers)
    r.status_code

    soup = BeautifulSoup(r.content,'html.parser')  # r.content 또는 r.text

    player_info = soup.find_all('tr',class_=['odd','even'])


    for info in player_info:
        player = info.find_all('td')
        #print(player)
        number.append(player[0].text) #-> 순위
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].img['alt'])
        value.append(player[8].text.strip())
    time.sleep(1)

In [11]:
df = pd.DataFrame(
    {"number": number,
     "name":name,
     "position":position,
     "age":age,
     "nation":nation,
     "team":team,
     "value":value
    }

)
df

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,€100.00m
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,€100.00m
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,€100.00m
5,6,Romelu Lukaku,Centre-Forward,28,Belgium,Chelsea FC,€100.00m
6,7,Bruno Fernandes,Attacking Midfield,27,Portugal,Manchester United,€90.00m
7,8,Kevin De Bruyne,Attacking Midfield,30,Belgium,Manchester City,€90.00m
8,9,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€90.00m
9,10,Phil Foden,Central Midfield,21,England,Manchester City,€85.00m
10,11,Jadon Sancho,Left Winger,21,England,Manchester United,€85.00m
11,12,Marcus Rashford,Left Winger,24,England,Manchester United,€85.00m
12,13,Joshua Kimmich,Defensive Midfield,26,Germany,Bayern Munich,€85.00m
13,14,Raheem Sterling,Left Winger,27,England,Manchester City,€85.00m
14,15,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
15,16,Lautaro Martínez,Centre-Forward,24,Argentina,Inter Milan,€80.00m
16,17,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,€80.00m
17,18,Jack Grealish,Left Winger,26,England,Manchester City,€80.00m
18,19,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€80.00m
19,20,Heung-min Son,Left Winger,29,"Korea, South",Tottenham Hotspur,€80.00m
20,21,Jude Bellingham,Central Midfield,18,England,Borussia Dortmund,€75.00m
21,22,Declan Rice,Defensive Midfield,23,England,West Ham United,€75.00m
22,23,Mason Mount,Attacking Midfield,23,England,Chelsea FC,€75.00m
23,24,Rúben Dias,Centre-Back,24,Portugal,Manchester City,€75.00m
24,25,Bernardo Silva,Attacking Midfield,27,Portugal,Manchester City,€75.00m
25,26,Marquinhos,Centre-Back,27,Brazil,Paris Saint-Germain,€75.00m
26,27,Florian Wirtz,Attacking Midfield,18,Germany,Bayer 04 Leverkusen,€70.00m
27,28,Alphonso Davies,Left-Back,21,Canada,Bayern Munich,€70.00m
28,29,Achraf Hakimi,Right-Back,23,Morocco,Paris Saint-Germain,€70.00m
29,30,Rodri,Defensive Midfield,25,Spain,Manchester City,€70.00m
30,31,Dusan Vlahovic,Centre-Forward,22,Serbia,ACF Fiorentina,€70.00m
31,32,Mikel Oyarzabal,Left Winger,24,Spain,Real Sociedad,€70.00m
32,33,Federico Chiesa,Right Winger,24,Italy,Juventus FC,€70.00m
33,34,Frenkie de Jong,Central Midfield,24,Netherlands,FC Barcelona,€70.00m
34,35,Kai Havertz,Attacking Midfield,22,Germany,Chelsea FC,€70.00m
35,36,Sergej Milinković-Savić,Central Midfield,26,Serbia,SS Lazio,€70.00m
36,37,Nicolò Barella,Central Midfield,24,Italy,Inter Milan,€70.00m
37,38,Leroy Sané,Left Winger,26,Germany,Bayern Munich,€70.00m
38,39,Serge Gnabry,Right Winger,26,Germany,Bayern Munich,€70.00m
39,40,Leon Goretzka,Central Midfield,26,Germany,Bayern Munich,€70.00m
40,41,Bukayo Saka,Right Midfield,20,England,Arsenal FC,€65.00m
41,42,Federico Valverde,Central Midfield,23,Uruguay,Real Madrid,€65.00m
42,43,Matthijs de Ligt,Centre-Back,22,Netherlands,Juventus FC,€65.00m
43,44,Gianluigi Donnarumma,Goalkeeper,22,Italy,Paris Saint-Germain,€65.00m
44,45,Andrew Robertson,Left-Back,27,Scotland,Liverpool FC,€65.00m
45,46,Milan Skriniar,Centre-Back,26,Slovakia,Inter Milan,€65.00m
46,47,Raphaël Varane,Centre-Back,28,France,Manchester United,€65.00m
47,48,Thibaut Courtois,Goalkeeper,29,Belgium,Real Madrid,€65.00m
48,49,Ansu Fati,Left Winger,19,Spain,FC Barcelona,€60.00m
49,50,João Félix,Second Striker,22,Portugal,Atlético de Madrid,€60.00m

In [12]:
df.iloc[0:2] ## df[0:2]와 같음

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m

In [13]:
df.loc[0:2] ## 인덱스 숫자를 기준으로 하여, 마지막 문자도 포함한다.

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,€100.00m

In [14]:
df.loc[0,'name'] ## 0이라는 숫자가 있는 행에서 name 열만 가져온다

'Kylian Mbappé'

In [15]:
df.loc[0:5,['name','team','value']]

              name                 team     value
0    Kylian Mbappé  Paris Saint-Germain  €160.00m
1   Erling Haaland    Borussia Dortmund  €150.00m
2  Vinicius Junior          Real Madrid  €100.00m
3    Mohamed Salah         Liverpool FC  €100.00m
4       Harry Kane    Tottenham Hotspur  €100.00m
5    Romelu Lukaku           Chelsea FC  €100.00m

In [16]:
df.loc[[0,2,3,4],['name','team','value']]

              name                 team     value
0    Kylian Mbappé  Paris Saint-Germain  €160.00m
2  Vinicius Junior          Real Madrid  €100.00m
3    Mohamed Salah         Liverpool FC  €100.00m
4       Harry Kane    Tottenham Hotspur  €100.00m

In [18]:
df.loc?

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   number    50 non-null     int64
 1   name      50 non-null     object
 2   position  50 non-null     object
 3   age       50 non-null     object
 4   nation    50 non-null     object
 5   team      50 non-null     object
 6   value     50 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.9+ KB

In [29]:
df.number = df.number.apply(int)
df.age = df.age.apply(int)

In [30]:
#loc로 나이가 30이상인 선수₩ name, value 가져옥

df.loc[df['age']>=30,["name","value"]]

              name    value
7  Kevin De Bruyne  €90.00m

In [31]:
df.sort_index().head()

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,€100.00m
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,€100.00m
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,€100.00m

In [32]:
df.sort_index(ascending=False).head()

,number,name,position,age,nation,team,value
49,50,João Félix,Second Striker,22,Portugal,Atlético de Madrid,€60.00m
48,49,Ansu Fati,Left Winger,19,Spain,FC Barcelona,€60.00m
47,48,Thibaut Courtois,Goalkeeper,29,Belgium,Real Madrid,€65.00m
46,47,Raphaël Varane,Centre-Back,28,France,Manchester United,€65.00m
45,46,Milan Skriniar,Centre-Back,26,Slovakia,Inter Milan,€65.00m

In [35]:
df.sort_values("age",ascending=False).head()

,number,name,position,age,nation,team,value
7,8,Kevin De Bruyne,Attacking Midfield,30,Belgium,Manchester City,€90.00m
47,48,Thibaut Courtois,Goalkeeper,29,Belgium,Real Madrid,€65.00m
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,€100.00m
8,9,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€90.00m
19,20,Heung-min Son,Left Winger,29,"Korea, South",Tottenham Hotspur,€80.00m

In [36]:
df.set_index('age')

,number,name,position,nation,team,value
age,,,,,,
23,1,Kylian Mbappé,Centre-Forward,France,Paris Saint-Germain,€160.00m
21,2,Erling Haaland,Centre-Forward,Norway,Borussia Dortmund,€150.00m
21,3,Vinicius Junior,Left Winger,Brazil,Real Madrid,€100.00m
29,4,Mohamed Salah,Right Winger,Egypt,Liverpool FC,€100.00m
28,5,Harry Kane,Centre-Forward,England,Tottenham Hotspur,€100.00m
28,6,Romelu Lukaku,Centre-Forward,Belgium,Chelsea FC,€100.00m
27,7,Bruno Fernandes,Attacking Midfield,Portugal,Manchester United,€90.00m
30,8,Kevin De Bruyne,Attacking Midfield,Belgium,Manchester City,€90.00m
29,9,Neymar,Left Winger,Brazil,Paris Saint-Germain,€90.00m
21,10,Phil Foden,Central Midfield,England,Manchester City,€85.00m
21,11,Jadon Sancho,Left Winger,England,Manchester United,€85.00m
24,12,Marcus Rashford,Left Winger,England,Manchester United,€85.00m
26,13,Joshua Kimmich,Defensive Midfield,Germany,Bayern Munich,€85.00m
27,14,Raheem Sterling,Left Winger,England,Manchester City,€85.00m
19,15,Pedri,Central Midfield,Spain,FC Barcelona,€80.00m
24,16,Lautaro Martínez,Centre-Forward,Argentina,Inter Milan,€80.00m
23,17,Trent Alexander-Arnold,Right-Back,England,Liverpool FC,€80.00m
26,18,Jack Grealish,Left Winger,England,Manchester City,€80.00m
29,19,Sadio Mané,Left Winger,Senegal,Liverpool FC,€80.00m
29,20,Heung-min Son,Left Winger,"Korea, South",Tottenham Hotspur,€80.00m
18,21,Jude Bellingham,Central Midfield,England,Borussia Dortmund,€75.00m
23,22,Declan Rice,Defensive Midfield,England,West Ham United,€75.00m
23,23,Mason Mount,Attacking Midfield,England,Chelsea FC,€75.00m
24,24,Rúben Dias,Centre-Back,Portugal,Manchester City,€75.00m
27,25,Bernardo Silva,Attacking Midfield,Portugal,Manchester City,€75.00m
27,26,Marquinhos,Centre-Back,Brazil,Paris Saint-Germain,€75.00m
18,27,Florian Wirtz,Attacking Midfield,Germany,Bayer 04 Leverkusen,€70.00m
21,28,Alphonso Davies,Left-Back,Canada,Bayern Munich,€70.00m
23,29,Achraf Hakimi,Right-Back,Morocco,Paris Saint-Germain,€70.00m
25,30,Rodri,Defensive Midfield,Spain,Manchester City,€70.00m
22,31,Dusan Vlahovic,Centre-Forward,Serbia,ACF Fiorentina,€70.00m
24,32,Mikel Oyarzabal,Left Winger,Spain,Real Sociedad,€70.00m
24,33,Federico Chiesa,Right Winger,Italy,Juventus FC,€70.00m
24,34,Frenkie de Jong,Central Midfield,Netherlands,FC Barcelona,€70.00m
22,35,Kai Havertz,Attacking Midfield,Germany,Chelsea FC,€70.00m
26,36,Sergej Milinković-Savić,Central Midfield,Serbia,SS Lazio,€70.00m
24,37,Nicolò Barella,Central Midfield,Italy,Inter Milan,€70.00m
26,38,Leroy Sané,Left Winger,Germany,Bayern Munich,€70.00m
26,39,Serge Gnabry,Right Winger,Germany,Bayern Munich,€70.00m
26,40,Leon Goretzka,Central Midfield,Germany,Bayern Munich,€70.00m
20,41,Bukayo Saka,Right Midfield,England,Arsenal FC,€65.00m
23,42,Federico Valverde,Central Midfield,Uruguay,Real Madrid,€65.00m
22,43,Matthijs de Ligt,Centre-Back,Netherlands,Juventus FC,€65.00m
22,44,Gianluigi Donnarumma,Goalkeeper,Italy,Paris Saint-Germain,€65.00m
27,45,Andrew Robertson,Left-Back,Scotland,Liverpool FC,€65.00m
26,46,Milan Skriniar,Centre-Back,Slovakia,Inter Milan,€65.00m
28,47,Raphaël Varane,Centre-Back,France,Manchester United,€65.00m
29,48,Thibaut Courtois,Goalkeeper,Belgium,Real Madrid,€65.00m
19,49,Ansu Fati,Left Winger,Spain,FC Barcelona,€60.00m
22,50,João Félix,Second Striker,Portugal,Atlético de Madrid,€60.00m

In [40]:
df.rename(columns={'team':'club'},inplace = True)
df

,number,name,position,age,nation,club,value
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,€160.00m
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,€150.00m
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,€100.00m
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,€100.00m
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,€100.00m
5,6,Romelu Lukaku,Centre-Forward,28,Belgium,Chelsea FC,€100.00m
6,7,Bruno Fernandes,Attacking Midfield,27,Portugal,Manchester United,€90.00m
7,8,Kevin De Bruyne,Attacking Midfield,30,Belgium,Manchester City,€90.00m
8,9,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€90.00m
9,10,Phil Foden,Central Midfield,21,England,Manchester City,€85.00m
10,11,Jadon Sancho,Left Winger,21,England,Manchester United,€85.00m
11,12,Marcus Rashford,Left Winger,24,England,Manchester United,€85.00m
12,13,Joshua Kimmich,Defensive Midfield,26,Germany,Bayern Munich,€85.00m
13,14,Raheem Sterling,Left Winger,27,England,Manchester City,€85.00m
14,15,Pedri,Central Midfield,19,Spain,FC Barcelona,€80.00m
15,16,Lautaro Martínez,Centre-Forward,24,Argentina,Inter Milan,€80.00m
16,17,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,€80.00m
17,18,Jack Grealish,Left Winger,26,England,Manchester City,€80.00m
18,19,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€80.00m
19,20,Heung-min Son,Left Winger,29,"Korea, South",Tottenham Hotspur,€80.00m
20,21,Jude Bellingham,Central Midfield,18,England,Borussia Dortmund,€75.00m
21,22,Declan Rice,Defensive Midfield,23,England,West Ham United,€75.00m
22,23,Mason Mount,Attacking Midfield,23,England,Chelsea FC,€75.00m
23,24,Rúben Dias,Centre-Back,24,Portugal,Manchester City,€75.00m
24,25,Bernardo Silva,Attacking Midfield,27,Portugal,Manchester City,€75.00m
25,26,Marquinhos,Centre-Back,27,Brazil,Paris Saint-Germain,€75.00m
26,27,Florian Wirtz,Attacking Midfield,18,Germany,Bayer 04 Leverkusen,€70.00m
27,28,Alphonso Davies,Left-Back,21,Canada,Bayern Munich,€70.00m
28,29,Achraf Hakimi,Right-Back,23,Morocco,Paris Saint-Germain,€70.00m
29,30,Rodri,Defensive Midfield,25,Spain,Manchester City,€70.00m
30,31,Dusan Vlahovic,Centre-Forward,22,Serbia,ACF Fiorentina,€70.00m
31,32,Mikel Oyarzabal,Left Winger,24,Spain,Real Sociedad,€70.00m
32,33,Federico Chiesa,Right Winger,24,Italy,Juventus FC,€70.00m
33,34,Frenkie de Jong,Central Midfield,24,Netherlands,FC Barcelona,€70.00m
34,35,Kai Havertz,Attacking Midfield,22,Germany,Chelsea FC,€70.00m
35,36,Sergej Milinković-Savić,Central Midfield,26,Serbia,SS Lazio,€70.00m
36,37,Nicolò Barella,Central Midfield,24,Italy,Inter Milan,€70.00m
37,38,Leroy Sané,Left Winger,26,Germany,Bayern Munich,€70.00m
38,39,Serge Gnabry,Right Winger,26,Germany,Bayern Munich,€70.00m
39,40,Leon Goretzka,Central Midfield,26,Germany,Bayern Munich,€70.00m
40,41,Bukayo Saka,Right Midfield,20,England,Arsenal FC,€65.00m
41,42,Federico Valverde,Central Midfield,23,Uruguay,Real Madrid,€65.00m
42,43,Matthijs de Ligt,Centre-Back,22,Netherlands,Juventus FC,€65.00m
43,44,Gianluigi Donnarumma,Goalkeeper,22,Italy,Paris Saint-Germain,€65.00m
44,45,Andrew Robertson,Left-Back,27,Scotland,Liverpool FC,€65.00m
45,46,Milan Skriniar,Centre-Back,26,Slovakia,Inter Milan,€65.00m
46,47,Raphaël Varane,Centre-Back,28,France,Manchester United,€65.00m
47,48,Thibaut Courtois,Goalkeeper,29,Belgium,Real Madrid,€65.00m
48,49,Ansu Fati,Left Winger,19,Spain,FC Barcelona,€60.00m
49,50,João Félix,Second Striker,22,Portugal,Atlético de Madrid,€60.00m

In [43]:
df.value = df.value.str.replace("€","")
df.value = df.value.str.replace("m","").astype('float')

In [45]:
df['시장가치(억)'] = df.value*13

In [46]:
df.head()

,number,name,position,age,nation,club,value,시장가치(억)
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,160.0,2080.0
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,150.0,1950.0
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,100.0,1300.0
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,100.0,1300.0
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,100.0,1300.0

In [47]:
df.drop(columns=['value'],inplace = True)

In [48]:
df.head()

,number,name,position,age,nation,club,시장가치(억)
0,1,Kylian Mbappé,Centre-Forward,23,France,Paris Saint-Germain,2080.0
1,2,Erling Haaland,Centre-Forward,21,Norway,Borussia Dortmund,1950.0
2,3,Vinicius Junior,Left Winger,21,Brazil,Real Madrid,1300.0
3,4,Mohamed Salah,Right Winger,29,Egypt,Liverpool FC,1300.0
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,1300.0

In [49]:
df.describe()

         number        age     시장가치(억)
count  50.00000  50.000000    50.00000
mean   25.50000  24.320000  1028.30000
std    14.57738   3.152194   245.21671
min     1.00000  18.000000   780.00000
25%    13.25000  22.000000   910.00000
50%    25.50000  24.000000   975.00000
75%    37.75000  27.000000  1105.00000
max    50.00000  30.000000  2080.00000

In [52]:
df.age.mean(), df.age.min(),df.age.max()

(24.32, 18, 30)

In [53]:
## mode 는 최빈값 
df['nation'].mode()

0    England
Name: nation, dtype: object

In [54]:
df[df.nation == 'England']

,number,name,position,age,nation,club,시장가치(억)
4,5,Harry Kane,Centre-Forward,28,England,Tottenham Hotspur,1300.0
9,10,Phil Foden,Central Midfield,21,England,Manchester City,1105.0
10,11,Jadon Sancho,Left Winger,21,England,Manchester United,1105.0
11,12,Marcus Rashford,Left Winger,24,England,Manchester United,1105.0
13,14,Raheem Sterling,Left Winger,27,England,Manchester City,1105.0
16,17,Trent Alexander-Arnold,Right-Back,23,England,Liverpool FC,1040.0
17,18,Jack Grealish,Left Winger,26,England,Manchester City,1040.0
20,21,Jude Bellingham,Central Midfield,18,England,Borussia Dortmund,975.0
21,22,Declan Rice,Defensive Midfield,23,England,West Ham United,975.0
22,23,Mason Mount,Attacking Midfield,23,England,Chelsea FC,975.0
40,41,Bukayo Saka,Right Midfield,20,England,Arsenal FC,845.0

In [56]:
g = df.groupby('nation')

In [57]:
g.size()

nation
Argentina        1
Belgium          3
Brazil           3
Canada           1
Egypt            1
England         11
France           2
Germany          6
Italy            3
Korea, South     1
Morocco          1
Netherlands      2
Norway           1
Portugal         4
Scotland         1
Senegal          1
Serbia           2
Slovakia         1
Spain            4
Uruguay          1
dtype: int64

In [58]:
g.count()

              number  name  position  age  club  시장가치(억)
nation
Argentina          1     1         1    1     1        1
Belgium            3     3         3    3     3        3
Brazil             3     3         3    3     3        3
Canada             1     1         1    1     1        1
Egypt              1     1         1    1     1        1
England           11    11        11   11    11       11
France             2     2         2    2     2        2
Germany            6     6         6    6     6        6
Italy              3     3         3    3     3        3
Korea, South       1     1         1    1     1        1
Morocco            1     1         1    1     1        1
Netherlands        2     2         2    2     2        2
Norway             1     1         1    1     1        1
Portugal           4     4         4    4     4        4
Scotland           1     1         1    1     1        1
Senegal            1     1         1    1     1        1
Serbia             2     2         2    2     2        2
Slovakia           1     1         1    1     1        1
Spain              4     4         4    4     4        4
Uruguay            1     1         1    1     1        1

In [59]:
g.mean()

                 number        age      시장가치(억)
nation
Argentina     16.000000  24.000000  1040.000000
Belgium       20.666667  29.000000  1105.000000
Brazil        12.666667  25.666667  1148.333333
Canada        28.000000  21.000000   910.000000
Egypt          4.000000  29.000000  1300.000000
England       17.636364  23.090909  1051.818182
France        24.000000  25.500000  1462.500000
Germany       32.000000  24.000000   942.500000
Italy         38.000000  23.333333   888.333333
Korea, South  20.000000  29.000000  1040.000000
Morocco       29.000000  23.000000   910.000000
Netherlands   38.500000  23.000000   877.500000
Norway         2.000000  21.000000  1950.000000
Portugal      26.500000  25.000000   975.000000
Scotland      45.000000  27.000000   845.000000
Senegal       19.000000  29.000000  1040.000000
Serbia        33.500000  24.000000   910.000000
Slovakia      46.000000  26.000000   845.000000
Spain         31.500000  21.750000   910.000000
Uruguay       42.000000  23.000000   845.000000

In [ ]:
## 선수들의 몸값이 가장 큰 클럽별로 묶어서 정렬해서 보여주기

In [60]:
g2 = df.groupby('club')

In [64]:
g2.sum().sort_values("시장가치(억)",ascending=False)

                     number  age  시장가치(억)
club
Manchester City         129  180   7280.0
Paris Saint-Germain     109  124   5980.0
Bayern Munich           158  125   4745.0
Manchester United        77  100   4225.0
Liverpool FC             85  108   4225.0
Chelsea FC               64   73   3185.0
Real Madrid              93   73   2990.0
Borussia Dortmund        23   39   2925.0
Inter Milan              99   74   2795.0
FC Barcelona             98   62   2730.0
Tottenham Hotspur        25   57   2340.0
Juventus FC              76   46   1755.0
West Ham United          22   23    975.0
Bayer 04 Leverkusen      27   18    910.0
Real Sociedad            32   24    910.0
SS Lazio                 36   26    910.0
ACF Fiorentina           31   22    910.0
Arsenal FC               41   20    845.0
Atlético de Madrid       50   22    780.0

In [ ]:
df.to_csv()

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame(
{
    '이름':['손흥민','메시','호날두'],
    '나이':[28,33,35],
    '소속':['토트넘','바르셀로나','유벤투스']
})

In [4]:
df1

    이름  나이     소속
0  손흥민  28    토트넘
1   메시  33  바르셀로나
2  호날두  35   유벤투스

In [6]:
df1 = pd.DataFrame(
{
    '이름':['손흥민','메시','호날두'],
    '나이':[28,33,35],
    '소속':['토트넘','바르셀로나','유벤투스']
}, index= [1,2,3])

In [7]:
df1

    이름  나이     소속
1  손흥민  28    토트넘
2   메시  33  바르셀로나
3  호날두  35   유벤투스